.intro,
.restaurant,
.carousel--bottom,
.catering,
.reservations {
  margin: 3rem 2rem;
}

@media (min-width: 1024px) {
  .intro,
  .restaurant,
  .carousel--bottom,
  .catering,
  .reservations {
    margin: 3rem auto;
    max-width: 1140px;
    padding: 0 2rem;
  }
}

// Intro Section
.intro {
  display: grid;
  &__body {
    line-height: 1.4;
  }
  &__title {
    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
      line-height: 1;
      text-align: center;
    }
  }
  &__hours {
    h4 {
      font-size: 1.7rem;
      margin-bottom: 0.5rem;
      font-weight: 800;
    }
    ul {
      list-style-type: none;
      margin-bottom: 1rem;
      li {
        margin-bottom: 0.5rem;
      }
    }
    p > a {
      color: $primary-500;
      &:hover {
        color: $primary-900;
      }
    }
    .button {
      margin: 2rem;
      text-align: center;
      display: block;
    }
  }
}

.intro__hours .hours {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  ul {
    list-style-type: none;
    li {
      margin-bottom: $small;
    }
    &:last-of-type {
      text-align: right;
    }
  }
}

.button-group {
  display: flex;
  .button {
    margin: 0;
    flex: 1;
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
  &--reservations {
    flex-direction: column;
    .button {
      margin-bottom: 1rem;
      &:not(:last-of-type) {
        margin-right: 0;
      }
    }
    @media (min-width: 768px) {
      flex-direction: row;
      max-width: 80%;
      margin: 0 auto;
      .button {
        margin: 0;
        flex: 1;
        &:not(:last-of-type) {
          margin-right: 1rem;
        }
      }
    }
    @media (min-width: 1024px) {
      max-width: 50%;
    }
  }
}

div[id*="ot-widget-container"] {
  text-align: center;
}

@media (min-width: 960px) {
  .intro {
    margin: 4rem auto;
    padding: 0 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    &__title,
    &__hours,
    &__body {
      grid-column: span 4;
      margin: auto 0;
    }
    &__hours {
      padding-left: 1rem;
    }
    &__title h1 {
      font-size: 5rem;
      text-align: left;
    }
  }
}
