$neutral: #f4f6f4;

$primary-100: #e3e8e7;
$primary-300: #9eaeab;
$primary-500: #5e706a;
$primary-700: #3a4542;
$primary-900: #232a27;

$purple-100: #e6e3e8;
$purple-300: #9c90a2;
$purple-500: #6a5e70;
$purple-700: #3c3640;
$purple-900: #27232a;
