@import "./colors";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&display=swap");

// Scale: 1.333 - Perfect Fourth

$h1: 89.76px;
$h2: 67.34px;
$h3: 50.52px;
$h4: 37.9px;
$h5: 28.43px;
$h6: 24px;
$p: 16px;
$small: 12px;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", "Bodoni 72", serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}
h6 {
  font-size: $h6;
}
p {
  font-size: $p;
  line-height: 1.5;
  margin-bottom: 1rem;
}

small {
  font-family: "Playfair Display SC", serif;
  font-size: 11px;
  font-weight: bold;
}

body {
  font-family: "Lato";
  background: $neutral;
}
